.btn {
    text-align: center;
    margin: 0 auto;
    font-family: 'Helvetica', sans-serif;
    padding: 1em 3em;
    line-height:1em;
    text-decoration: none;
    display: inline-block;
}

/************
CLASES TAMAÑO
*************/

.w-M {
    font-size: 1em;
}


/***********
CLASES FORMA
************/

.br-3 {
    border-radius: 1em;
}


/*********
stl-3
**********/

.stl-3 {
    background-color: #005e6e;
    border: 1px solid #005e6e;
    color: white;
    transition-duration: .2s;
    cursor: pointer;
}
.stl-3:hover{
    animation-name: tembleque;
    animation-duration: .5s;
    animation-timing-function: ease;
}
.stl-3:active{
    transform: scale(.85,.85);
}

/**********
ANIMACIONES
***********/

@keyframes gelatinahover {
    0%   {transform: scale(1,1);}
    50%  {transform: scale(1.3,1.3);}
    100% {transform: scale(1,1);}
}

@keyframes tembleque {
    0%   {transform: rotateZ(0deg);}
    13%  {transform: rotateZ(10deg);}
    26% {transform: rotateZ(0deg);}
    39% {transform: rotateZ(-8deg);}
    52% {transform: rotateZ(0deg);}
    62% {transform: rotateZ(6deg);}
    72% {transform: rotateZ(0deg);}
    82% {transform: rotateZ(-4deg);}
    92% {transform: rotateZ(0deg);}
    100% {transform: rotateZ(2deg);}
}

@keyframes redondeo {
    0%   {border-radius: 1em 1em 1em 1em}
    12.5%  {border-radius: 1.5em 1em 1em 1em}
    25% {border-radius: 2em 1.5em 1em 1em}
    37.5% {border-radius: 1.5em 2em 1.5em 1em}
    50% {border-radius: 1em 1.5em 2em 1.5em}
    62.5% {border-radius: 1em 1em 1.5em 2em}
    75%   {border-radius: 1em 1em 1em 1.5em}
    87.5%  {border-radius: 1em 1.5em 2em 1.5em}
    100% {border-radius: 1em 1em 1em 1em}
}

@keyframes bote {
    0%   {transform: scale(1,1);}
    20%  {transform: scale(.6,1.5);}
    30% {transform: scale(.3,2); transform: translate(0,-1em);}
    40% {transform: scale(.6,1.5); transform: translate(0,-2em);}
    45%   {transform: scale(1,1); transform: translate(0,-2em);}
    50%  {transform: scale(.6,1.5); transform: translate(0,-2em);}
    60% {transform: scale(.3,2); transform: translate(0,-2em);}
    70% {transform: scale(.6,1.5);}
    80% {transform: scale(1,1);}
    89% {transform: scale(1,1); transform: translate(0,0);}
    90% {transform: scale(1.5,.5); transform: translate(0,.5em);}
    99% {transform: scale(1,1); transform: translate(0,.5em);}
    100% {transform: scale(1,1);}
}

@keyframes boteActive {
    0% {transform: scale(1,1);}
    25% {transform: scale(.3,2);}
    50% {transform: scale(1,1);}
    75% {transform: scale(1.5,1);}
    100% {transform: scale(1,1);}
}

@keyframes strech {
    0% {transform: scale(1,1);}
    25% {transform: scale(.3,2);}
    50% {transform: scale(1,1);}
    75% {transform: scale(1.5,1);}
    100% {transform: scale(1,1);}
}

/*TABLA*/
.tabla {
    width: 50%;
    border-collapse: collapse;
    text-align: center;
    border: 3px solid #dcdcdc;
    position: relative;
    font-family: 'Open Sans', Arial, sans-serif;
}
.tabla th {
    height: 30px;
    text-align: center;
    border-collapse: collapse;
    color: #fff;
    font-size: 15px;
    padding: 10px 0px;
}

.tabla td {
    width: 100px;
    text-align: center;
    font-size: 15px;
    padding: 5px 10px;
}

.tabla .red {
    background-color: #ec0000;
    color: #fff;
}

.tabla .gray {
    background-color: #f0f0f0;
    color: #333;
}

.head{
    background-color: #ec0000;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    width: 200px;
    text-align: center;
    line-height: 40px;
    border-radius: 25px 25px 0px 0px;
    margin-top: 0.5%;
}

.mdl-select__input {
    border: none;
    border-bottom: 1px solid rgba(0,0,0, 0.12);
    display: inline-block;
    font-size: 16px;
    margin: 0;
    width: 200px;
    padding: 4px 0;
    background: 16px;
    text-align: left;
    color: dimgray;
    text-align-last: center;
}

.input-file-html5
{
    position: relative;
    outline: none;
    color: #005e6e;
    background: whitesmoke;
    padding: .3em 1em .3em 0;
}

.input-file-html5::before
{
    content:'seleccionar archivo';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: .5em .7em;
    color: white;
    background: #005e6e;
    box-shadow: 0 0.2em 0 #005e6e;
    transform: translateY(-0.2em);
}

.input-file-html5:hover::before
{
    background: #005e6e;
    box-shadow: 0 0.35em 0 #005e6e;
    transform: translateY(-0.35em);
}

.input-file-html5:active::before
{
    background: #005e6e;
    box-shadow: 0 0em 0 #005e6e;
    transform: translateY(0em);
}

.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
    position: relative;
    display:inline;
    display: inline-block;
    float: left;
    margin-right: 2%;
    margin-bottom: 20px;
}
.end { margin-right: 0 !important; }

/*-=-=-=-=-=-=-=-=-=-=- */
/* Flip Panel */
/*-=-=-=-=-=-=-=-=-=-=- */

.wrapper{ width: 980px; margin: 0 auto;  background-color: #bdd3de; hoverflow: hidden;}

.panel {
    margin: 0 auto;
    height: 130px;
    position: relative;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
}

.panel .front,
.panel .back {
    text-align: center;
}

.panel .front {
    height: inherit;
    position: absolute;
    top: 0;
    z-index: 900;
    text-align: center;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.panel .back {
    height: inherit;
    position: absolute;
    top: 0;
    z-index: 1000;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.panel.flip .front {
    z-index: 900;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}
.panel.flip .back {
    z-index: 1000;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
}
.box1{
    background-color: #14bcc8;
    width: 200px;
    height: 150px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.box2{
    background-color: #ff7e70;
    width: 200px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

p { color: #ffffff;  }

body {
    margin: 20px;
    font-family: Arial, Tahoma;
    font-size: 20px;
    color: #666666;
    text-align: center;
}